.waterContainer{
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 100%;
    z-index:20;
    filter: blur(3px);
}

.droplet{
    width: 100px;;
    height: 100px;
    position:absolute;
    background-color: #737283;
    box-shadow: inset 6px 30px 30px 0 #00001A, inset 18px 80px 30px 0 #21213B, 12px 18px 17px 0px #0d0d1a;
    filter: blur(1px);
}

.droplet::before{
    position: absolute;
    content: "";
    background-color: white;
    width: 6px;
    height: 6px;
    border-radius: 200px;
    left: 15%;
    top: 38%;
}

.droplet::after{
    position: absolute;
    content: "";
    background-color: rgb(209, 209, 209);
    width: 20px;
    height: 20px;
    border-radius: 86% 14% 89% 11% / 88% 18% 82% 12% ;
    left: 20%;
    top: 15%;
    transform: rotateX(25deg);
}

@keyframes waterChange{
    0%{
       border-radius: 18% 82% 50% 50% / 27% 52% 48% 73% 
    }
    50%{
        border-radius:78% 22% 32% 68% / 63% 37% 63% 37% 
    }
    100%{
        border-radius: 18% 82% 50% 50% / 27% 52% 48% 73% ;
    }
}

@keyframes waterTravel{
    0%{
        transform: scaleX(100%);
        opacity: 0;
    }
    15%{
        opacity: 0;
    }
    25%{
        transform: scaleX(85%);
    }
    40%{
        opacity: .8;
    }
    50%{
        transform: scaleX(94%);
    }
    75%{
        transform: scaleX(79%);
        opacity: .8;
    }
    100%{
        bottom: -30%;
        transform: scaleX(100%);
    }
}