.waterContainer{
    position: absolute;
    width: 100%;
    height: 100%;
}

.droplet{
    width: 100px;
    height: 100px;
    position:absolute;
    background-color: #21213b00;
    box-shadow: inset 6px 30px 30px 0 #00001ad7, inset 18px 80px 30px 0 #21213bee, 5px 5px 5px 0 #0d0d1a;
    filter: blur(1px);
    border-radius: 18% 82% 50% 50% / 27% 52% 48% 73%;
    z-index: 20;
    backdrop-filter: blur(2px);
    pointer-events: none;
}

.droplet::before{
    position: absolute;
    content: "";
    background-color: rgba(255,255,255,.7);
    filter: blur(1px);
    width: 6%;
    height: 6%;
    border-radius: 200px;
    left: 20%;
    top: 38%;
}

.droplet::after{
    position: absolute;
    content: "";
    background-color: rgba(255,255,255,.7);
    filter: blur(1px);
    width: 20%;
    height: 20%;
    border-radius: 86% 14% 89% 11% / 88% 18% 82% 12% ;
    left: 25%;
    top: 15%;
    transform: rotateX(25deg);
}

@media(max-width: 768px){
    .droplet{
        width: 60px;
        height: 60px;
    }
}
